{namespace rkw=RKW\RkwEvents\ViewHelpers}
{namespace rkwRegistration=RKW\RkwRegistration\ViewHelpers}

<f:if condition="{event.costsReg}">

    <p>Teilnahmegebühr</p>
    <span class="form-group">
        <f:if condition="{event.costsRed}" >

            <label class="checkbox">
                <span class="checkbox__input">
                    <f:form.radio id="txHgontemplateEventcostsRed" class="input input-radio" property="txHgontemplateEventcosts" name="txHgontemplateEventcosts" value="red" />
                    <label for="txHgontemplateEventcostsRed"></label>
                </span>
                <span class="checkbox__label">
                    Reduziert (Ich bin Vereinsmitglied):
                    <b>
                        <f:format.currency decimalSeparator="," thousandsSeparator="." decimals="2" currencySign="€" prependCurrency="false">
                            {event.costsRed}
                        </f:format.currency>
                    </b>
                </span>
            </label>
        </f:if>

        <f:if condition="{event.costsReg}" >
            <label class="checkbox">
            <span class="checkbox__input">
                <f:form.radio id="txHgontemplateEventcostsReg" class="input input-radio" checked="TRUE" property="txHgontemplateEventcosts" name="txHgontemplateEventcosts" value="reg" />
                <label for="txHgontemplateEventcostsReg"></label>
            </span>
            <span class="checkbox__label">
                Regulär:
                <b>
                    <f:format.currency decimalSeparator="," thousandsSeparator="." decimals="2" currencySign="€" prependCurrency="false">
                        {event.costsReg}
                    </f:format.currency>
                </b>
            </span>
            </label>
        </f:if>
    </span>
</f:if>


<!-- culinary options -->
<f:if condition="<f:count>{event.txHgontemplateEventCulinary}</f:count>">
    <p>Optional mitbuchen</p>
    <p class="form__field">
        <span class="checkbox-group">
            <f:for each="{event.txHgontemplateEventCulinary}" as="culinary" iteration="iter">
                <label class="checkbox">
                    <span class="checkbox__input">
                        <f:form.checkbox class="input input-radio" id="culinary{culinary.uid}" property="txHgontemplateEventculinary.{iter.index}" value="{culinary.uid}" />
                        <label for="culinary{culinary.uid}"></label>
                    </span>
                    <span class="checkbox__label" title="<f:format.stripTags>{culinary.description}</f:format.stripTags>">
                        {culinary.title}: <b><f:format.currency decimalSeparator="," thousandsSeparator="." decimals="2" currencySign="€" prependCurrency="false">{culinary.price}</f:format.currency></b>
                        <f:if condition="{culinary.date}">(<f:format.date format="d.m.Y">{culinary.date}</f:format.date>)</f:if>
                    </span>
                </label>
            </f:for>
        </span>
    </p>
</f:if>

<!-- how to pay options -->
<f:if condition="{event.costsReg} || <f:count>{event.txHgontemplateEventCulinary}</f:count>">
    <p>Bezahlart (falls hier aufgeführte Kosten anfallen)</p>
    <div class="form-group radio-group inputs-list">
        <label class="radio" for="txHgontemplatePaymenttype1">
            <span class="radio__input">
                <f:form.radio id="txHgontemplatePaymenttype1" class="input input-radio form-check-input" property="txHgontemplatePaymenttype" name="txHgontemplatePaymenttype" value="1" />
                <label for="txHgontemplatePaymenttype1"></label>
            </span>
            <span class="checkbox__label">
                Vor Ort am Tag der Veranstaltung
            </span>
        </label>
        <br />
        <label class="radio" for="txHgontemplatePaymenttype2">
        <span class="radio__input">
            <f:form.radio id="txHgontemplatePaymenttype2" class="input input-radio" checked="TRUE" property="txHgontemplatePaymenttype" name="txHgontemplatePaymenttype" value="2" />
            <label for="txHgontemplatePaymenttype2"></label>
        </span>
        <span class="checkbox__label">
            Jetzt direkt mit PayPal bezahlen
        </span>
        </label>
    </div>
</f:if>

