<f:if condition="{author}">

    <aside class="aside aside--contact-person color-bg-tertiary">
        <header class="aside__header">
            <h6>
                Ansprechpartner*In
            </h6>
        </header>
        <div class="aside__content">
            <div class="contact-person__profile">
                <f:if condition="{author.imageBoxes}" >
                    <f:image
                        class="contact-person__portrait"
                        image="{author.imageBoxes}"
                        alt=""
                        cropVariant="1to1"
                        width="120"
                        height="120"
                    />
                </f:if>
                <p class="contact-person__identity">
                    <strong>{author.firstName} {author.lastName}</strong>
                    <f:if condition="{author.functionTitle}">
                        <span>{author.functionTitle}</span>
                    </f:if>
                </p>
            </div>
            <div class="contact-person__contact">
                <f:if condition="{author.phone} || {author.phone2}">
                    <a href="tel:<hgon:php.pregReplace pattern='[^+0-9]' replacement='' subject='{author.phone} {author.phone2}' />">
                        <svg class="icon icon--btn-left color-font-primary" width="16" height="16"><use xlink:href="#ui-phone"></use></svg>
                        <span><f:format.stripTags>{author.phone} {author.phone2}</f:format.stripTags></span>
                    </a>
                </f:if>
                <f:if condition="{author.email}">
                    <f:link.email email="{author.email}">
                        <svg class="icon icon--btn-left color-font-primary" width="16" height="16"><use xlink:href="#ui-mail"></use></svg>
                        <span>{author.email}</span>
                    </f:link.email>
                </f:if>
            </div>
        </div>
    </aside>

</f:if>
