
<f:if condition="{isPayPalPlus}">
    <f:then>
        <div id="ppplus">
        </div>
        <script type="application/javascript">
            var ppp = PAYPAL.apps.PPP({
                  "approvalUrl": "<f:format.raw>{approvalUrl}</f:format.raw>",
                  "placeholder": "ppplus",
                  "mode": "sandbox",
                  "country": "DE",
                  "language": "DE",
                  "useraction": "commit"
              });
        </script>
    </f:then>
    <f:else>
        <a href="<f:format.raw>{approvalUrl}</f:format.raw>">Jetzt weiter zu PayPal!</a>
    </f:else>
</f:if>
