<article class="card card-plainfull">
    <div class="card__inner">
        <div class="flex-container">
            <div class="flex-item c-4">
                <header class="card__header">
                    <h3 class="headline">Wussten Sie schon?</h3>
                </header>
            </div>
            <div class="flex-item c-7">
                <div class="card__content">
                    <p>
                        <f:format.raw>{didYouKnow.description}</f:format.raw>
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>