<f:if condition="{pagination.paginator.numberOfPages} > 1">
    <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
        <f:link.action
            action="{actionName}"
            arguments="{currentPage: pagination.nextPageNumber, overwriteDemand: overwriteDemand, eventType: selectedEventType, searchTerm: selectedSearchTerm}"
            class="btn btn--rounded btn--loadmore ajax-html-loadmore"
            additionalAttributes="{data-append-target: 'event-container', data-pagination-target: 'event-pagination-container', data-page-root: 'event-pagination-container'}"
        >
            Mehr laden
            <svg class="icon icon--24"><use xlink:href="#ui-plus"></use></svg>
        </f:link.action>
    </f:if>
</f:if>
