<f:if condition="{article}">
    <aside class="breaker">
        <div class="flex-container">
            <div class="flex-item c-6">
                <header class="breaker__header">
                    <h2>{article.title}</h2>
                    <f:if condition="{article.subtitle}">
                        <p>{article.subtitle}</p>
                    </f:if>

                </header>
                <div class="breaker__content">
                    <f:format.raw>
                        {article.description}
                    </f:format.raw>
                </div>
                <footer class="breaker__footer">
                    <a href="" class="btn btn--primary btn--rounded">
                        Bestellen
                    </a>
                    <f:if condition="{article.link}">
                        <f:link.typolink target="_blank" parameter="{article.link}" class="btn btn--white btn--rounded">
                            Leseprobe
                        </f:link.typolink>
                    </f:if>
                </footer>
            </div>
            <f:if condition="{article.image}">
                <div class="flex-item c-6 / align-center">
                    <picture class="breaker__image / has-shadow">
                        <f:image src="{article.image.uid}" treatIdAsReference="1" title="{article.image.title}" alt="{article.image.alternative}" width="395"/>
                    </picture>
                </div>
            </f:if>
        </div>
    </aside>
</f:if>
