<f:section name="Html">
    <div style="Margin:0px auto;max-width:670px;">
        <table role="presentation" style="width:100%;" cellspacing="0" cellpadding="0" border="0" align="center">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:0;text-align:center;vertical-align:top;">

                    <div class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                        <table role="presentation" style="vertical-align:top;" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td style="font-size:0px;word-break:break-word;">

                                        <div style="height:24px;"> &nbsp; </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</f:section>
