<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="HgonDefault" />

<f:section name="Main">

    <f:section name="Header">
        <f:render partial="Layout/Header" arguments="{_all}" />
    </f:section>


        <f:render partial="Layout/ContentHeaderText" arguments="{_all}" section="infoCategory" />

    <f:comment>
        <f:render partial="Layout/ContentHeaderImageCategory" arguments="{_all}" />
    </f:comment>

    <div class="main__content">
        <div class="content content--boxed">
            <nav class="main__nav">
                <f:render partial="Navigation/SubPage" arguments="{_all}" />
            </nav>
            <section class="article article--fullwidth">
                <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:0}" />
            </section>
        </div>

        <f:comment>
            <!--
                do not show this option for page "Arbeitskreise"
                (@toDo: this solution is crappy. Make it better!)
             -->
        </f:comment>
        <f:if condition="{data.uid} != 8">
            <section class="section">
                <f:render partial="Layout/Journal" arguments="{_all}" />
            </section>
        </f:if>

    </div>

    <f:render partial="Layout/MainFooter" arguments="{_all}" />

</f:section>

</html>