<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="HgonDefault" />

<f:section name="Main">

    <f:section name="Header">
        <f:render partial="Layout/Header" arguments="{_all}" />
    </f:section>

    <f:render partial="Layout/ContentHeaderText" arguments="{_all}" section="currentPageContent" />

    <nav class="main__nav">
        <f:render partial="Navigation/SubPage" arguments="{_all}" />
    </nav>

    <div class="main__content">
        <div class="content">
            <article class="article">
                <div class="article__content">
                    <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:0}" />
                </div>
            </article>
            <div class="sidebar">
                <f:render partial="Layout/Sidebar" arguments="{_all}" />
            </div>
        </div>

        <f:comment><!-- if contactPage: Show google maps --></f:comment>
        <f:format.html parseFuncTSPath="">{maps}</f:format.html>

    </div>

    <f:render partial="Layout/MainFooter" arguments="{_all}" />

</f:section>

</html>