<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hgon="http://typo3.org/ns/HGON/HgonTemplate/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:for each="{journalRowList}" as="pages">
    <f:for each="<hgon:createRows list='{0: journalRowList, 1: news}' />" as="row">

        <!-- Spaltenbreite einmal sauber berechnen -->
        <f:variable name="colWidth">
            <f:cObject
                typoscriptObjectPath="lib.math"
                data="12/{f:count(subject: row)}"
            />
        </f:variable>

        <f:for each="{row}" as="item">
            <f:switch expression="{colWidth}">

                <f:case value="4">
                    <f:render
                        partial="FlexItem/CardStandard"
                        section="{hgon:objectType(object: item)}"
                        arguments="{news: item, type: 'c-4'}"
                    />
                </f:case>

                <f:case value="6">
                    <f:render
                        partial="FlexItem/CardStandard"
                        section="{hgon:objectType(object: item)}"
                        arguments="{news: item, type: 'c-6'}"
                    />
                </f:case>

                <f:case value="8">
                    <f:render
                        partial="FlexItem/CardStandard"
                        section="{hgon:objectType(object: item)}"
                        arguments="{news: item, type: 'c-8'}"
                    />
                </f:case>

                <f:case value="12">
                    <f:render
                        partial="FlexItem/CardStandard"
                        section="{hgon:objectType(object: item)}"
                        arguments="{news: item, type: 'c-12'}"
                    />
                </f:case>

                <f:defaultCase>
                    <f:render
                        partial="FlexItem/CardStandard"
                        section="{hgon:objectType(object: item)}"
                        arguments="{news: item, type: 'c-12'}"
                    />
                </f:defaultCase>

            </f:switch>
        </f:for>

    </f:for>
</f:for>

</html>
