<div class="footer__content">
    <div class="flex-container space-between">

        <f:render partial="Navigation/Footer" arguments="{_all}" />

        <div class="flex-item c-6">
            <div class="flex-container">
                <div class="flex-item c-6 / pt-1 pb-1">
                    <h6>Unterstützen Sie uns jetzt</h6>
                    <p>
                        Für unsere Naturschutzarbeit brauchen wir Ihre Unterstützung: Werden Sie aktiv oder bringen Sie mit Ihrer Spende wichtige Naturschutzprojekte auf den Weg.
                    </p>
                    <p>
                        <f:render partial="Navigation/Footer" arguments="{_all}" section="additional" />
                    </p>
                </div>

                <f:cObject typoscriptObjectPath="page.10.variables.footer" />
            </div>
        </div>
    </div>
</div>
