<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>

    <!-- new -->


        <section class="section / pt-2 pb-5" id="content">
            <div class="wrap">

                <!--TYPO3SEARCH_begin-->
                <f:format.html parseFuncTSPath="">{content}</f:format.html>
                <f:comment>
                    <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:0}" />
                </f:comment>
                <!--TYPO3SEARCH_end-->


                <article class="box box--floated box--floated-right / mb-8">
                    <div class="box__inner">
                        <div class="flex-container space-between no-padding">
                            <div class="flex-item c-8">
                                <picture class="box__image">
                                    <source media="(min-width: 37.563em) and (max-width: 48em)" srcset="https://dummyimage.com/670x350/333333/fff.png">
                                    <source media="(max-width: 37.5em)" srcset="https://dummyimage.com/500x250/333333/fff.png">
                                    <img src="https://dummyimage.com/300x400/000000/fff.png" alt="" width="300" height="400">
                                </picture>
                                <header class="box__header">
                                    <h2>
                                        <span class="badge badge--secondary">Entdecken<span class="is-hidden">: </span></span>
                                        <span class="h2 headline">Artenschutz und Prädation</span>
                                    </h2>
                                </header>
                                <div class="box__content">
                                    <p>
                                        Die Natur ist kein Streichelzoo. Vom putzigen Rotkehlchen bis zum majestätischen Rotmilan: Alle Vogelarten erbeuten andere Tiere und können selbst Beute werden. Uns ist das bewusst. Aber in Zeiten, in denen immer weniger Menschen Kontakt zur Natur haben und viele Arten am Rand des Aussterbens stehen, ist der Verlust eines, mitunter sorgsam gehegten Individuums für manche Zeitgenossen schwer zu ertragen.
                                    </p>
                                    <p>
                                        <a href="#" class="btn btn--primary btn--rounded">Mehr lesen</a>
                                    </p>
                                </div>
                            </div>
                            <div class="flex-item c-4 pl-2">
                                <footer class="box__footer mt-2">
                                    <h6>Weitere Inhalte</h6>
                                    <ul class="menu menu--list">
                                        <li><a href="#" class="link link--goto">Erstmals in Hessen: Vogel-Beobachtungen per QR-Code einsehen</a></li>
                                        <li><a href="#" class="link link--goto">Ein guter Tag für Hessens Spechte!</a></li>
                                        <li><a href="#" class="link link--goto">Libellen in Hessen: Biologische Vielfalt erkennen – Arten bestimmen</a></li>
                                    </ul>
                                </footer>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="box box--floated box--floated-left / mb-5">
                    <div class="box__inner pr-5">
                        <picture class="box__image">
                            <source media="(min-width: 37.563em) and (max-width: 48em)" srcset="https://dummyimage.com/670x350/333333/fff.png">
                            <source media="(max-width: 37.5em)" srcset="https://dummyimage.com/500x250/333333/fff.png">
                            <img src="https://dummyimage.com/500x400/000000/fff.png" alt="" width="500" height="400">
                        </picture>
                        <header class="box__header">
                            <h2>
                                <span class="badge badge--secondary">Über den Verein<span class="is-hidden">: </span></span>
                                <span class="h2 headline">Begeisterung und Kompetenz</span>
                            </h2>
                        </header>
                        <div class="box__content">
                            <p>
                                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                            </p>
                            <p>
                                <a href="#" class="btn btn--primary btn--rounded">Mehr lesen</a>
                            </p>
                        </div>
                        <footer class="box__footer mt-2">
                            <h6>Weitere Inhalte</h6>
                            <ul class="menu menu--inline">
                                <li><a href="#" class="link link--goto">Auftrag derHGON lesen</a></li>
                                <li><a href="#" class="link link--goto">Vorstand und Team kennenlernen</a></li>
                                <li><a href="#" class="link link--goto">Arbeitskreise in Ihrer Nähe</a></li>
                            </ul>
                        </footer>
                    </div>
                </article>
                <section class="box box--bordered pb-1">
                    <header class="box__header">
                        <div class="wrap">
                            <h2 class="tagline">Anstehende Termine</h2>
                        </div>
                    </header>
                    <div class="box__content">
                        <div class="flex-container space-between gutter">
                            <div class="flex-item c-4">
                                <article class="item item-event">
                                    <header class="item__header">
                                        <svg width="48" height="48"><use xlink:href="#ui-event"></use></svg>
                                        <time datetime="2018-04-22">22. April 2018</time>
                                        <span class="">AK Kassel</span>
                                    </header>
                                    <div class="item__content">
                                        <h3>Informationsstand am Tag der Erde in Kassel</h3>
                                    </div>
                                    <footer class="item__footer">
                                        <a href="#" class="link link--goto">Details</a>
                                    </footer>
                                </article>
                            </div>
                            <div class="flex-item c-4">
                                <article class="item item-event">
                                    <header class="item__header">
                                        <svg width="48" height="48"><use xlink:href="#ui-event"></use></svg>
                                        <time datetime="2018-04-22">22. April 2018</time>
                                        <span class="">AK Kassel</span>
                                    </header>
                                    <div class="item__content">
                                        <h3>Informationsstand am Tag der Erde in Kassel</h3>
                                    </div>
                                    <footer class="item__footer">
                                        <a href="#" class="link link--goto">Details</a>
                                    </footer>
                                </article>
                            </div>
                            <div class="flex-item c-4">
                                <article class="item item-event">
                                    <header class="item__header">
                                        <svg width="48" height="48"><use xlink:href="#ui-event"></use></svg>
                                        <time datetime="2018-04-22">22. April 2018</time>
                                        <span class="">AK Kassel</span>
                                    </header>
                                    <div class="item__content">
                                        <h3>Informationsstand am Tag der Erde in Kassel</h3>
                                    </div>
                                    <footer class="item__footer">
                                        <a href="#" class="link link--goto">Details</a>
                                    </footer>
                                </article>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>


        <section class="section">
            <header class="section__header">
                <div class="wrap wrap--text / align-center">
                    <h2>
                        <span class="badge badge--secondary">Unsere Mission<span class="is-hidden">: </span></span>
                        <span class="h1 headline">Eine Stime für unsere Umwelt</span>
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </header>
            <div class="section__content">
                <div class="flex-container space-between gutter valign-stretch">
                    <div class="flex-item c-4">
                        <article class="card card--shadow">
                            <picture class="card__image">
                                <img src="https://dummyimage.com/395x300/000000/fff.png" alt="" width="395" height="300">
                            </picture>
                            <div class="card__inner">
                                <header class="card__header">
                                    <span class="tagline">Tagline<span class="is-hidden">: </span></span>
                                    <h3 class="headline">Lorem ipsum dolor sit amet</h3>
                                </header>
                                <div class="card__content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                    </p>
                                </div>
                                <footer class="card__footer">
                                    <a href="tp-single" class="btn btn--rounded btn--tertiary">Mehr erfahren</a>
                                </footer>
                            </div>
                        </article>
                    </div>
                    <div class="flex-item c-4">
                        <article class="card card--shadow">
                            <picture class="card__image">
                                <img src="https://dummyimage.com/395x300/000000/fff.png" alt="" width="395" height="300">
                            </picture>
                            <div class="card__inner">
                                <header class="card__header">
                                    <span class="tagline">Tagline<span class="is-hidden">: </span></span>
                                    <h3 class="headline">Lorem ipsum dolor sit amet</h3>
                                </header>
                                <div class="card__content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                    </p>
                                </div>
                                <footer class="card__footer">
                                    <a href="tp-single" class="btn btn--rounded btn--tertiary">Mehr erfahren</a>
                                </footer>
                            </div>
                        </article>
                    </div>
                    <div class="flex-item c-4">
                        <article class="card card--shadow">
                            <picture class="card__image">
                                <img src="https://dummyimage.com/395x300/000000/fff.png" alt="" width="395" height="300">
                            </picture>
                            <div class="card__inner">
                                <header class="card__header">
                                    <span class="tagline">Tagline<span class="is-hidden">: </span></span>
                                    <h3 class="headline">Lorem ipsum dolor sit amet</h3>
                                </header>
                                <div class="card__content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                    </p>
                                </div>
                                <footer class="card__footer">
                                    <a href="tp-single" class="btn btn--rounded btn--tertiary">Mehr erfahren</a>
                                </footer>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <footer class="section__footer / align-center">
                <a class="btn btn--primary btn--rounded" href="about">Mehr Informationen</a>
            </footer>
        </section>



        <section class="section">
            <header class="section__header / pb-2">
                <div class="wrap wrap--text / align-center">
                    <h2>
                        <span class="badge badge--secondary">Lorem Ipsum<span class="is-hidden">: </span></span>
                        <span class="h1 headline">Unsere Projekte</span>
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </header>
            <div clas="section__content">
                <div class="slider js-slider" data-slide="0">
                    <a class="slide__next js-slide-next" href=""></a>
                    <a class="slide__prev js-slide-prev is-disabled" href=""></a>
                    <article class="slider__item slider__bg-image / js-slider-item active" style="background-image: url(&quot;https://dummyimage.com/1680x680/EC6842/fff&quot;); transform: matrix(1, 0, 0, 1, 0, 0);">
                        <div class="slider__item__inner">
                            <header class="mb-1">
                                <span class="tagline color-font-secondary">Projekt im Kreis Groß-Gerau</span>
                                <h3 class="headline">Greifvögel in Hessen</h3>
                            </header>
                            <div>
                                <p>
                                    Majestätisch gleiten sie durch die Lüfte. Ihr Körperbau macht sie zu perfekten Fliegern. Ihr Sehvermögern macht aus den Flugkünstlern bestechende Jäger. Anmut und Kraft der Greifvögel faszinieren die Menschen seit jeher. Aber Greifvögel haben nicht nur Freunde.
                                </p>
                            </div>
                            <footer class="mt-1">
                                <a href="#" class="btn btn--rounded btn--primary">Mehr lesen</a>
                            </footer>
                        </div>
                    </article>
                    <article class="slider__item slider__bg-image / js-slider-item" style="background-image: url(&quot;https://dummyimage.com/1680x680/A2AF63/fff&quot;); transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);">
                        <div class="slider__item__inner">
                            <header class="mb-1">
                                <span class="tagline color-font-secondary">Projekt im Kreis Groß-Gerau</span>
                                <h3 class="headline">Greifvögel in Hessen</h3>
                            </header>
                            <div>
                                <p>
                                    Majestätisch gleiten sie durch die Lüfte. Ihr Körperbau macht sie zu perfekten Fliegern. Ihr Sehvermögern macht aus den Flugkünstlern bestechende Jäger. Anmut und Kraft der Greifvögel faszinieren die Menschen seit jeher. Aber Greifvögel haben nicht nur Freunde.
                                </p>
                            </div>
                            <footer class="mt-1">
                                <a href="#" class="btn btn--rounded btn--primary">Mehr lesen</a>
                            </footer>
                        </div>
                    </article>
                    <ul class="slider__pills js-slider-pills"><li class="is-active"><a href="" data-slideto="0" style="cursor: default;">1</a></li><li><a href="" data-slideto="1" style="cursor: default;">2</a></li></ul>
                </div>
            </div>
        </section>

        <section class="breaker / no-margin">
            <div class="flex-container space-between gutter valign-center">
                <div class="flex-item c-6">
                    <header class="breaker__header">
                        <span class="tagline color-font-secondary">Vor Ort</span>
                        <h1 class="headline">Mitmachen</h1>
                    </header>
                    <div class="breaker__content">
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
                    </div>
                </div>
                <div class="flex-item c-6">
                    <picture class="breaker__image breaker__image--bg">
                        <img src="assets/build/img/img-map.png" alt="" width="372" height="538">
                    </picture>
                    <form class="form form--plain form-plz">
                        <label for="arbeitskreis">Arbeitskreis finden</label>
                        <div class="input-group input-group--inline mobile-align-center">
                            <input class="input input--rounded" placeholder="Postleitzahl eingeben" name="arbeitskreis" id="arbeitskreis" type="text">
                            <button class="btn btn--primary btn--rounded" type="submit">Arbeitskreis finden</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>


        <blockquote class="quote / align-center mt-4 mb-4">
            <q>Besonders stolz sind wir auf unsere 24 HGON-Arbeitskreise, die sich mit Herz und Seele um den Natur- und Artenschutz in Hessen kümmern.</q>
            <cite class="quote__cite">
                <img src="assets/build/img/profil-conz.jpg" alt="" width="100" height="100">
                <span>Oliver Conz, Vorstandsvorsitzender</span>
            </cite>
        </blockquote>
        <footer class="main__footer">
            <section class="section">
                <header class="section__header">
                    <div class="wrap wrap--text / align-center">
                        <h2>
                            <span class="badge badge--secondary">Mitmachen<span class="is-hidden">: </span></span>
                            <span class="h2 headline">So können Sie uns unterstützen</span>
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        </p>
                    </div>
                </header>
                <div class="section__content">
                    <div class="flex-container space-between gutter valign-stretch">
                        <div class="flex-item c-4">
                            <article class="card card--shadow">
                                <picture class="card__image">
                                    <img src="https://dummyimage.com/395x300/000000/fff.png" alt="" width="395" height="300">
                                </picture>
                                <div class="card__inner">
                                    <header class="card__header">
                                        <h3 class="headline">Lorem ipsum dolor sit amet</h3>
                                    </header>
                                    <div class="card__content">
                                        <p>
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                        </p>
                                    </div>
                                    <footer class="card__footer">
                                        <a href="" class="btn btn--rounded btn--tertiary">Mehr erfahren</a>
                                    </footer>
                                </div>
                            </article>
                        </div>
                        <div class="flex-item c-4">
                            <article class="card card--shadow">
                                <picture class="card__image">
                                    <img src="https://dummyimage.com/395x300/000000/fff.png" alt="" width="395" height="300">
                                </picture>
                                <div class="card__inner">
                                    <header class="card__header">
                                        <h3 class="headline">Lorem ipsum dolor sit amet</h3>
                                    </header>
                                    <div class="card__content">
                                        <p>
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                        </p>
                                    </div>
                                    <footer class="card__footer">
                                        <a href="" class="btn btn--rounded btn--tertiary">Mehr erfahren</a>
                                    </footer>
                                </div>
                            </article>
                        </div>
                        <div class="flex-item c-4">
                            <article class="card card--shadow">
                                <picture class="card__image">
                                    <img src="https://dummyimage.com/395x300/000000/fff.png" alt="" width="395" height="300">
                                </picture>
                                <div class="card__inner">
                                    <header class="card__header">
                                        <h3 class="headline">Lorem ipsum dolor sit amet</h3>
                                    </header>
                                    <div class="card__content">
                                        <p>
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                        </p>
                                    </div>
                                    <footer class="card__footer">
                                        <a href="" class="btn btn--rounded btn--tertiary">Mehr erfahren</a>
                                    </footer>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
            <div class="main__footer__content section / align-center">
                <a href="#top" class="link--topanchor / mb-5" data-target="#top">
                    <svg width="42" height="58"><use xlink:href="#ui-top"></use></svg>
                    <span>Zum Seitenanfang</span>
                </a>
                <p>
                    Hessische Gesellschaft für Ornithologie und Naturschutz e.V.<br>
                    Lindenstraße 5 • 61209 Echzell<br>
                    Telefon <a href="tel:+4960081803">+49 (0)6008-1803</a> • <a href="mailto:info@hgon.de">info@hgon.de</a>
                </p>
                <ul class="menu menu-social / mt-5">
                    <li><a class="link--social" href="https://twitter.com/#"><svg width="24" height="24"><use xlink:href="#ui-twitter"></use></svg><span>Folgen Sie uns auf Twitter</span></a></li>
                    <li><a class="link--social" href="https://youtube.com/#"><svg width="24" height="24"><use xlink:href="#ui-youtube"></use></svg><span>Folgen Sie uns auf YouTube</span></a></li>
                    <li><a class="link--social" href="https://facebook.com/#"><svg width="24" height="24"><use xlink:href="#ui-facebook"></use></svg><span>Folgen Sie uns auf Facebook</span></a></li>
                </ul>
            </div>
        </footer>
    </main>
</f:spaceless>
</html>