<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>

    <footer class="main__footer">

        <section class="section">
            <f:format.html parseFuncTSPath="">
                {footer}
            </f:format.html>
        </section>


        <div class="main__footer__content section / align-center">
            <a href="#top" class="link--topanchor / mb-5" data-target="#top">
                <svg width="42" height="58"><use xlink:href="#ui-top"></use></svg>
                <span>Zum Seitenanfang</span>
            </a>
            <p>
                Hessische Gesellschaft für Ornithologie und Naturschutz e.V.<br>
                Lindenstraße 5 • 61209 Echzell<br>
                Telefon <a href="tel:+4960081803">+49 (0)6008-1803</a> • <a href="mailto:info@hgon.de">info@hgon.de</a>
            </p>
            <ul class="menu menu-social / mt-5">
                <li><a class="link--social" href="https://twitter.com/#"><svg width="24" height="24"><use xlink:href="#ui-twitter"></use></svg><span>Folgen Sie uns auf Twitter</span></a></li>
                <li><a class="link--social" href="https://youtube.com/#"><svg width="24" height="24"><use xlink:href="#ui-youtube"></use></svg><span>Folgen Sie uns auf YouTube</span></a></li>
                <li><a class="link--social" href="https://facebook.com/#"><svg width="24" height="24"><use xlink:href="#ui-facebook"></use></svg><span>Folgen Sie uns auf Facebook</span></a></li>
            </ul>
        </div>

    </footer>

</f:spaceless>
</html>