h2 {
  margin-bottom: 0;
}
.footer {
  padding-top: 2rem;
}
.footer .footer__form.form--plain {
  margin-top: 0;
}
.footer .footer__bottom {
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer .footer__logo {
  padding: 1.5rem 1.25rem;
}
.footer .footer__logo img {
  display: block;
  width: 60px;
  max-width: none;
  height: 60px;
}
@media only screen and (max-width: 64em) {
  .footer {
    padding-top: 1.5rem;
  }
  .footer .footer__bottom {
    margin-top: 1.5rem;
  }
}
#tx-hgonspecies .gallery__image {
  width: 50%;
  margin: 0;
  padding-right: 1.5em;
}
#tx-hgonspecies .gallery__image:first-child:last-child {
  width: 100%;
}
