/* styling captcha from sr_freecap */
img.tx-srfreecap-image {
    margin-left: 0;
    margin-top: 10px;
}

.tx-srfreecap-cant-read {
    width: 50%;
    margin-top: 10px;
}



/* FIX: by any reason a color-bg-cta-Element (yellow sidebar) overwrites all other color-bg-cta elements */
/* so we create a simple alternative class */
.color-bg-cta-2 {background-color:#fadc40}


/* Overwrite helllicht maps padding (we're not using an iframe) */
.map {padding-top: 0;}


/* iframe custimization (lightboxes) */
.featherlight-iframe .featherlight-content {
    overflow-y: hidden !important;
}

/* Clipboard add on (comes not from helllicht) */
.clipboard-container {
    background-color: #EDEFE0;
    color: #6F7163;
    display: none;
    margin: 0 auto;
    position: fixed;
    z-index: 100;
    width: 50%;
    top: 20px;
    left: 0;
    right: 0;
    padding: 10px;
    border: 1px solid;
}
.clipboard-container .cb-success {
    font-size: 1.2em;
}
.clipboard-container .cb-success .cb-header {
    font-weight: bolder;

}
.clipboard-container .cb-close {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 101;
    border: none;
    background-color: #EDEFE0;
    font-weight: bolder;
}

/* additional FCE styles */
figure.video {
    margin: 20px 0;
}

/* make helllicht form error styles compatible with typo3 */
input.f3-form-error,
select.f3-form-error,
textarea.f3-form-error,
.checkbox__input label.f3-form-error,
.radio__input label.f3-form-error {
    border-color: #FF5252;
}
input.f3-form-error,
textarea.f3-form-error {
    border-right: 3px solid #FF5252;
}

.typo3-messages .message-error {
    color: red;
}

 .typo3-messages {
     color: #000;
 }

 li.alert {
     list-style: none;
 }

/* Pseudo-fix for header-images: Maybe the css is not the real problem
.main .main__header--image .picture img {
    width: 100%;
}
*/

/* Fix: For not using a class in img tag itself (would need some additional partials) */
aside.color-bg-tertiary img {
    float: left;
    margin-right: .75em;
    margin-bottom: .75em;
}

/* Fix: Do not change the color of ALL anchor (children -> submenu elements) of active item */
.menu.menu-main > li.is-active a {
    color: #666666;
}
.menu.menu-main > li.is-active > a {
    color: #869733;
}

/* Fix for RkwEvents */
#tx-rkwevents-grid-section a.disabled {
    display: none;
}

/* Fix for html limitations of "MenuSitemapPages.html" */
ul.menu.menu--list header h6 {
    margin-bottom: 1.5em;
}
ul.menu.menu--inline header h6 {
    margin: 1.5em;
}

/* adjustments for different form html */
form.form fieldset {
    border: 0;
    padding: 0;
    font-weight: 600;
    font-size: .875rem;
    margin-bottom: 1.5em;
}
form.form fieldset p {
    margin: 0;
}
form.form fieldset p:not(:first-of-type) {
    margin: .5em 0 0;
}
form.form fieldset p label {
    font-weight: 400;
}

ul.news-downloads {
    list-style: none;
    padding-left: 0;
}

/* as example: used in /hgon_template/Resources/Private/Extension/RkwMailer/Templates/Link/Redirect.html */
section.section.helper .section__header {
    padding-top: 0;
}

/* for centered content */
.frame-layout-80 {
    width: 100%;
}