<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{menuGoToOverview}">
        <f:for each="{menuGoToOverview}" as="mainItem">
            <a class="link link--icon / float-right" href="{mainItem.link}" title="{mainItem.data.title}">
                <svg class="icon icon--btn-left" width="18" height="18"><use xlink:href="#ui-arrow-left"></use></svg>
                Zurück zur Übersicht
            </a>
        </f:for>
</f:if>
</html>
