{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
{namespace rkwNewsletter=RKW\RkwNewsletter\ViewHelpers}

<!-- PLAINTEXT -->
<f:section name="Plaintext"><rkwMailer:plaintextLineBreaks>

<rkwMailer:recipientSalutation queueRecipient="{queueRecipient}" prependText="<rkwMailer:frontend.translate key='partials_newsletter_body.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwNewsletter' /> " appendText="," />
\n\n
<f:render partial="Default/FilterEditorial" section="Plaintext" arguments="{_all}" />
\n\n
<f:render partial="Default/Items" section="Plaintext" arguments="{pages: pages, issue: issue, queueMail: queueMail, queueRecipient: queueRecipient, maxItemsPerTopic: maxItemsPerTopic, pageTypeMore: pageTypeMore, pagesOrder: pagesOrder, includeEditorials: includeEditorials}" />

<f:render partial="Default/News" section="Plaintext" arguments="{pages: pages, issue: issue, queueMail: queueMail}" />

<f:render partial="Default/Article" section="Plaintext" arguments="{pages: pages, issue: issue, queueMail: queueMail}" />

<f:render partial="Default/Donation" section="Plaintext" arguments="{pages: pages, issue: issue, queueMail: queueMail}" />

<f:render partial="Default/Events" section="Plaintext" arguments="{pages: pages, issue: issue, queueMail: queueMail}" />

</rkwMailer:plaintextLineBreaks></f:section>



<!-- HTML -->
<f:section name="Html">

        <f:if condition="{webView}">
            <f:then>
                <f:render partial="Default/TopNews" section="Html" arguments="{_all}" />
            </f:then>
        </f:if>

    <!-- Normal Contents -->
    <f:render partial="Default/Items" section="Html" arguments="{pages: pages, issue: issue, queueMail: queueMail, queueRecipient: queueRecipient, maxItemsPerTopic: maxItemsPerTopic, pageTypeMore: pageTypeMore, pagesOrder: pagesOrder, webView: webView, includeEditorials: includeEditorials}" />

    <!-- News -->
    <f:render partial="Default/News" section="Html" arguments="{pages: pages, issue: issue, queueMail: queueMail}" />

    <!-- Article -->
    <f:render partial="Default/Article" section="Html" arguments="{pages: pages, issue: issue, queueMail: queueMail}" />

    <!-- Donation -->
    <f:render partial="Default/Donation" section="Html" arguments="{pages: pages, issue: issue, queueMail: queueMail}" />

    <!-- Events -->
    <f:render partial="Default/Events" section="Html" arguments="{pages: pages, issue: issue, queueMail: queueMail}" />

    <f:comment>
        <!-- Special Contents -->
        <f:render partial="Default/Items" section="Html" arguments="{pages: specialPages, issue: issue, queueMail: queueMail, queueRecipient: queueRecipient, maxItemsPerTopic: maxItemsPerTopic, pageTypeMore: pageTypeMore, webView: webView, includeEditorials: '0'}" />
    </f:comment>

    <f:comment>
        <f:render partial="Default/News" section="Html" arguments="{_all}" />
    </f:comment>

</f:section>