{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
{namespace rkwAuthors=RKW\RkwAuthors\ViewHelpers}

<!-- PLAINTEXT -->
<f:section name="Plaintext" />



<!-- HTML for all other items -->
<f:section name="Html">


    <f:if condition="{pages}">
        <f:for each="{pages}" as="page" iteration="pageIterator">
            <f:if condition="<rkwMailer:cache.hasRenderCache queueMail='{queueMail}' additionalIdentifier='{page.uid}-{webView}-{includeEditorials}' />">
                <f:then>
                    <rkwMailer:cache.getRenderCache queueMail="{queueMail}" additionalIdentifier="{page.uid}-{webView}-{includeEditorials}" marker="{pagesOrder : pagesOrder}"/>
                </f:then>
                <f:else>
                    <f:format.raw>
                        <rkwMailer:cache.setRenderCache queueMail="{queueMail}" additionalIdentifier="{page.uid}-{webView}-{includeEditorials}" marker="{pagesOrder : pagesOrder}">
                            <rkwMailer:frontend.replaceLinksRedirect queueMail="{queueMail}">

                                <f:for each="<rkwNewsletter:getNewsletterContents issue='{issue}' page='{page}' includeEditorials='{includeEditorials}' />" as="content" iteration="itemIterator">

                                    <f:if condition="{content.txRkwnewsletterIsEditorial}">
                                        <f:then>

                                            <!-- editorial -->
                                            <f:render partial="Default/Items/Editorial" section="Html" arguments="{_all}" />

                                        </f:then>
                                    </f:if>
                                </f:for>
                            </rkwMailer:frontend.replaceLinksRedirect>
                        </rkwMailer:cache.setRenderCache>
                    </f:format.raw>
                </f:else>
            </f:if>

        </f:for>
    </f:if>
</f:section>