<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
	<p class="{hgonClass} form__field form-group{f:if(condition: '{validationResults.errors.0}', then: ' has-error')}">
		<f:if condition="{doNotShowLabel} != 1">
			<label class="control-label" for="{element.uniqueIdentifier}">{formvh:translateElementProperty(element: element, property: 'label')}<f:if condition="{element.required}"><f:render partial="Field/Required" /></f:if></label>
		</f:if>
        <f:format.raw>
            <f:if condition="{validationResults.flattenedErrors}">
                <span class="form__error form__error--show" role="alert">
                    <f:for each="{validationResults.errors}" as="error">
                        {formvh:translateElementError(element: element, error: error)}
                        <br />
                    </f:for>
                </span>
            </f:if>
            {elementContent}
        </f:format.raw>
        <f:if condition="{element.properties.elementDescription}">
            <span class="help-block">{formvh:translateElementProperty(element: element, property: 'elementDescription')}</span>
        </f:if>
	</p>
</f:form.validationResults>
</html>
