
<section class="article article--fullwidth">
    <h2>Arbeitskreistreffen</h2>
    <div class="flex-container space-between gutter / mt-1" id="tx-rkwevents-grid-section-workgroup">
        <f:render partial="Event/List/WorkGroupListing" arguments="{_all}" />
    </div>
</section>

<f:comment>
<!-- lazy loading / load more box -->
<div class="grid / mt-2">
    <f:render partial="Event/List/MoreLink" arguments="{isWorkGroupEvent: 1, showMoreLink: showMoreLink, filter: filter, pageMore: pageMore, archive: archive, ajaxTypeNum: ajaxTypeNum}" />
</div>
</f:comment>
