{namespace rkw=RKW\RkwEvents\ViewHelpers}
{namespace rkwGeo=RKW\RkwGeolocation\ViewHelpers}

<f:if condition="{event.onlineEvent} == 0">
    <f:then>
        <f:if condition="<rkw:and and1='{event.place.longitude}' and2='{event.place.latitude}' />">
            <!-- show Google-map if geo-data is set -->
            <f:then>
                <f:format.raw>
                    <!-- Google Maps API -->
                    <rkwGeo:maps longitude='{event.place.longitude}' latitude="{event.place.latitude}" />
                </f:format.raw>
            </f:then>
            <f:else>
                <f:format.raw>
                    <rkwGeo:maps address="Germany" zoom="5" noMarker="true"/>
                </f:format.raw>
            </f:else>
        </f:if>
    </f:then>
    <f:else>
        <f:format.raw>
            <rkwGeo:maps address="Germany" zoom="5" noMarker="true"/>
        </f:format.raw>
    </f:else>
</f:if>