<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <f:render partial="Layout/Svg" arguments="{_all}" />
    <div id="top" class="site">
        <f:render section="Header" optional="true" />

        <main class="main">
            <f:render section="Main" optional="true" />
        </main>

        <f:render section="Footer" optional="true">
            <f:render partial="Layout/Footer" arguments="{_all}" />
        </f:render>
    </div>
</f:spaceless>
</html>
